@using Incoding.MvcContrib
@using MvdEndPoint.Domain
@{
    using (var template = Html.Incoding().Template<IncAjaxEventVm>())
    {
        using (var each = template.ForEach())
        {
            <div>
                <label>Status Code:@each.For(r => r.StatusCode)</label>
                <label>Status Text:@each.For(r => r.StatusText)</label>                  
            </div>
            <div>
                @each.ForRaw(r => r.ResponseText)
            </div>
        }
    }

}