<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Text" #>
<#@ parameter type="System.String" name="Namespace" #>
package <#= Namespace #>;
public class JsonModelStateData {
        public String name;
        public Boolean isValid;
        public String errorMessage;
         
}