<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ parameter type="System.String" name="Namespace" #>
package <#=Namespace #>.Incoding;
public class ModelStateException extends Throwable {
    private JsonModelStateData[] state;

    public ModelStateException(JsonModelStateData[] state) {
        this.state = state;
    }

    public JsonModelStateData[] getState() {
        return state;
    }
}
