<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Interval for refresh table  -->
      <!-- Begin Client -->
          <add key="ClientOrderItemsMenuInterval" value="15000" />
      <!-- End Client-->
      <!-- Begin KitchenBar -->
          <add key="KitchenBarActivityOrdersInterval" value="10000" />
          <add key="KitchenBarOrderDetailsInterval" value="10000" />
      <!-- End KitchenBar-->
      <!-- Begin Waiter -->
          <add key="WaiterDeviceInterval"  value="10000" />
          <add key="WaiterActivityOrdersInterval" value="10000" />
          <add key="WaiterOrderDetailsInterval" value="10000" />
          <add key="WaiterAlertWindowInterval" value="10000" />
          <add key="WaiterBillingInterval" value="10000" />
      <!-- End Waiter-->
  <!-- End Interval -->
</appSettings>