<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="Main" connectionString="Data Source=.\;Database=Mode30;Integrated Security=true"
       providerName="System.Data.SqlClient" />
  <add name="Test" connectionString="Data Source=.\;Database=Mode30Test;Integrated Security=true"
       providerName="System.Data.SqlClient" />  
</connectionStrings>